<ion-header style="background:#2F62ED;">
  <ion-navbar style="background:#2F62ED;">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content style="background:#2F62ED;" text-center padding>
        <sg-mapa-score></sg-mapa-score>
        <p>Basta responder o quiz para salvar esta região</p>
        <button ion-button block large (click)="presentProfileModal()">SALVAR</button>

</ion-content>
