<ion-card *ngFor="let d of dados" (click)="abreDica(d)" style="background-color:#5b83f1" no-padding>
    <ion-card-content no-padding>
        <ion-grid >
            <ion-row>
                <ion-col col-2>
                   <img src="{{d.icon}}" alt="icone" height="100%" width="100%">
                </ion-col>

                <ion-col>
                    <div>
                        <h1 class="texto-branco">{{d.title}}</h1>
                    </div>
                    <div>
                        <h3 class="texto-branco">Mais informações . . . </h3>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>